body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}

#collapsed-periods {
    margin-top: 10px;
    list-style-type: none; /* 移除列表项前的圆点 */
    padding-left: 0; /* 这里将会真正影响周期的左对齐长度 */
    margin-left: 15px; /* 左边距 */
}

#collapsed-periods li {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 保证两端对齐 */
    margin-bottom: 10px; /* 每个列表项之间的间距 */
    
}

.date-container {
    flex: 1; /* 日期部分占据可用空间 */
    text-align: left; /* 日期文字左对齐 */
    font-family: Arial, sans-serif; /* 字体设置 */
    font-size: 14px; /* 字体大小 */
    color: #333; /* 字体颜色 */
    display: flex;
    align-items: center; /* 确保文字垂直居中 */
    margin-left: 10px; /* 设置左边距，调整此值以控制周期文字的左边距 */
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px; /* 按钮与日期部分之间的间距 */
    align-self: center; /* 确保按钮在垂直方向上居中 */
}

button:hover {
    background-color: #0056b3;
}


/*5个按钮的单独样式*/
.completion-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px; /* 左边距 */
    margin-right: 15px; /* 右边距 */
    align-self: center;
}

.completion-button:hover {
    background-color: #0056b3;
}

.completion-button.completed {
    background-color: #28a745; /* 已完成按钮的背景色 */
    color: white; /* 按钮文本为白色 */
}

.completion-button.not-completed {
    background-color: #dc3545; /* 未完成按钮的背景色 */
    color: white; /* 按钮文本为白色 */
}





#completed-periods {
    max-height: 125px; /* 根据项目高度调整 */
    overflow-y: scroll; /* 确保垂直滚动条显示 */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#completed-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#completed-list li {
    padding: 5px 0;
    height: 40px; /* 根据需要调整 */
    box-sizing: border-box;
}

