body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
}

#collapsed-periods {
    margin-top: 10px;
    list-style-type: none; /* 移除列表项前的圆点 */
    padding-left: 0; /* 移除左边距 */
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#completed-periods {
    max-height: 150px; /* 根据项目高度调整 */
    overflow-y: scroll; /* 确保垂直滚动条显示 */
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#completed-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#completed-list li {
    padding: 5px 0;
    height: 40px; /* 根据需要调整 */
    box-sizing: border-box;
}

